@import url("https://fonts.googleapis.com/css?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css?family=Ubuntu:400,700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-family: "Ubuntu", "sans serif";
  font-size: 1.8rem; }

.container {
  width: 45vw;
  min-width: 117rem; }

.container-wide {
  width: 70%;
  min-width: 117rem; }

.button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer; }

.bg-orange {
  background-color: #ff6600;
  color: white; }

.orange {
  color: #ff6600; }

.blue {
  color: #0072ba; }

@media only screen and (max-width: 1250px) {
  .container {
    min-width: 50%;
    width: 80%; } }

@media only screen and (max-width: 700px) {
  .container {
    width: 90%; } }

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #001526; }
  header .container {
    height: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem; }
    header .container .logo img {
      width: 90%; }
    header .container .nav-menu-item {
      padding: 1rem 2rem;
      background-color: #d35e17;
      border-radius: 2rem; }
      header .container .nav-menu-item a {
        color: white;
        text-decoration: none;
        font-size: 1.4rem;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center; }
        header .container .nav-menu-item a i {
          font-size: 2rem;
          margin-left: 1.5rem;
          color: #00000060;
          font-weight: bold; }

main section {
  display: flex;
  justify-content: center;
  align-content: center; }
  main section:nth-child(even) {
    background: linear-gradient(to right, #ffffffee, #ffffffee), url("../assets/img/bg_pattern_hexagon.png");
    background-repeat: repeat; }

main .headline {
  min-height: 100rem;
  background: linear-gradient(to right, rgba(0, 21, 38, 0.9), rgba(0, 21, 38, 0.9)), url("../assets/img/patterned-background.webp");
  background-size: cover; }
  main .headline .container {
    padding: 2rem; }
    main .headline .container .timeleft {
      height: 8rem; }
    main .headline .container h2 {
      font-size: 7rem;
      color: white;
      font-weight: bold;
      text-align: center;
      margin-bottom: 5rem;
      padding: 2rem;
      border-top: 0.5rem solid #0072ba;
      border-bottom: 0.5rem solid #0072ba; }
    main .headline .container p {
      font-size: 2.5rem;
      width: 85%;
      margin: auto;
      color: white; }

main .video-list {
  padding: 5rem 0; }
  main .video-list .container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; }
    main .video-list .container hr {
      border-top: 0.3rem solid #ff6600;
      width: 40%;
      margin: 0 auto 4rem auto; }
    main .video-list .container .video-list-item {
      display: flex;
      margin-bottom: 5rem; }
      main .video-list .container .video-list-item-text {
        margin-top: 5rem;
        font-size: 2rem;
        width: 50%;
        padding: 3rem; }
        main .video-list .container .video-list-item-text h3 {
          margin-bottom: 1rem; }
      main .video-list .container .video-list-item iframe {
        padding: 3rem;
        height: 40rem;
        flex-grow: 1; }

main .courses {
  background: linear-gradient(to right, rgba(0, 21, 38, 0.9), rgba(0, 21, 38, 0.9)), url("../assets/img/wall-pattern-bg.jpg");
  background-size: cover; }
  main .courses .course-list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 4rem;
    padding: 5rem 0; }
    main .courses .course-list-item {
      background-color: white;
      padding: 1.5rem;
      border-radius: 1rem;
      min-height: 30rem;
      display: grid;
      grid-template-columns: 4fr 6fr;
      gap: 2rem; }
      main .courses .course-list-item-image {
        display: flex;
        align-items: center;
        justify-content: center; }
        main .courses .course-list-item-image img {
          width: 100%; }
      main .courses .course-list-item-desc {
        display: grid;
        padding: 1rem 1rem 1rem 0;
        grid-template-rows: max-content max-content 1fr 20%; }
        main .courses .course-list-item-desc p {
          font-family: "Lato", sans-serif;
          color: #332b2b; }
      main .courses .course-list-item hr {
        width: 30%;
        margin: 1rem 0; }
      main .courses .course-list-item .read-more {
        margin-top: 2rem; }
      main .courses .course-list-item .inactive {
        background-color: #7070705a;
        color: rgba(35, 35, 35, 0.897);
        cursor: not-allowed; }

@media only screen and (max-width: 1250px) {
  main .headline {
    min-height: 100rem; }
    main .headline .container .timeleft {
      height: 8rem; }
  main .courses .course-list {
    margin: auto;
    grid-template-columns: 1fr 1fr; } }

@media only screen and (max-width: 900px) {
  main .headline {
    min-height: 100rem; }
    main .headline .container .timeleft {
      height: 8rem; }
  main .video-list .container {
    width: 90%; }
    main .video-list .container .video-list-item {
      flex-direction: column;
      align-items: center;
      justify-content: center; }
      main .video-list .container .video-list-item-text {
        width: 100%;
        margin: 0; }
  main .courses .course-list {
    padding-left: 15%;
    padding-right: 15%;
    grid-template-columns: 1fr; } }

@media only screen and (max-width: 700px) {
  main .headline {
    min-height: 100rem; }
    main .headline .container .timeleft {
      height: 8rem; }
    main .headline .container h2 {
      font-size: 5rem; }
  main .video-list .container {
    width: 90%; }
    main .video-list .container .video-list-item-text {
      width: 100%;
      margin: 0; }
    main .video-list .container .video-list-item iframe {
      width: 100%;
      min-height: 4rem; }
  main .courses .course-list {
    padding-left: 5%;
    padding-right: 5%; } }
