.container {
  width: $container-width;
  min-width: 117rem;
}
.container-wide {
  width: 70%;
  min-width: 117rem;
}

.button {
  padding: 1rem 2rem;
  border-radius: 2rem;
  font-weight: bold;
  font-size: 1.4rem;
  width: fit-content;
  height: fit-content;
  cursor: pointer;
}
.bg-orange {
  background-color: #ff6600;
  color: white;
}

.orange {
  color: #ff6600;
}
